src/main/resources/static/app/*.js
src/main/resources/static/app/*.map
target/
/build
/upload-dir
upload-dir/


# Eclipse artifacts, including WTP generated manifests
.classpath
.project
spring-*/src/main/java/META-INF/MANIFEST.MF

*.map

*.log

