<div id="wrapper">
<div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
               <div class="row">
		            <div class="col-lg-12">
		                <ol class="breadcrumb">
		                    <li>
		                        <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
		                    </li>
		                    <li class="active">
		                        <i class="fa fa-edit"></i> Cobertura
		                    </li>
		                </ol>
		            </div>
		        </div>
		        
		        <div  [hidden]="submitted">
					<form *ngIf="active" (ngSubmit)="onSubmit()" #heroForm="ngForm">
							<h1>Reprodutor</h1>
							<div class="form-group input-group">
					            <div class="panel-body">
					            	Identificador: 
			                    		<strong [hidden]="cobertura.reprodutor.id == 0">{{cobertura.reprodutor.identificador}}  - {{cobertura.reprodutor.raca}} - <img src="/animal/reprodutor/foto/{{cobertura.reprodutor.id}}" alt="{{cobertura.reprodutor.raca}}" height="82" width="112"> </strong>
			                    </div>
                                <span class="input-group-btn"><button class="btn btn-default" type="button" (click)="listaReprodutores(reprodutorModal)">
                                <i class="fa fa-search"></i></button></span>
                            </div>
                            <div class="form-group input-group">
                            	<label>Peso</label>
	                             <div class="form-group input-group">
	                                <span class="input-group-addon"><i class="fa fa-hand-o-up"></i></span>
	                                <input type="text" class="form-control" [(ngModel)]="cobertura.reprodutor.peso"
						            	ngControl="cobertura.reprodutor_peso"  #peso="ngForm" >
	                                
	                                <span class="input-group-addon">Kg</span>
	                            </div>
                            </div>
                            
                            <h1>Matriz</h1>
					        <div class="form-group input-group">
                                <div class="panel-body">
			                    		<strong [hidden]="cobertura.matriz.id == 0">{{cobertura.matriz.identificador}}  - {{cobertura.matriz.raca}} - <img src="/animal/reprodutor/foto/{{cobertura.matriz.id}}" alt="{{cobertura.matriz.raca}}" height="82" width="112"> </strong>
			                    </div>
                                <span class="input-group-btn"><button class="btn btn-default" type="button" (click)="listaMatriz(maeModal)">
                                <i class="fa fa-search"></i></button></span>
                            </div>
                            <div class="form-group input-group">
                            	<label>Peso</label>
	                             <div class="form-group input-group">
	                                <span class="input-group-addon"><i class="fa fa-hand-o-up"></i></span>
	                                <input type="text" class="form-control" [(ngModel)]="cobertura.matriz.peso"
						            	ngControl="cobertura.matriz_peso"  #peso="ngForm" >
	                                
	                                <span class="input-group-addon">Kg</span>
	                            </div>
	                       </div>
	                       <div class="form-group input-group">
		                       	<label>Data de cobertura</label>
								<my-date-picker [options]="myDatePickerOptions"
								               (dateChanged)="onDateChanged($event)"
								               [selDate]="cobertura.dtCobertura">
							    </my-date-picker>
						   </div>
					</form>
               </div>    
<!-- /#page-wrapper -->
</div>

<!-- /#wrapper -->
</div>

<modal #reprodutorModal
    modalTitle="Reprodutor"
    closeButton="true"
    closeOnUnfocus="true">
    <div class="modal-body">
        <ul>
            <li *ngFor="#p of reprodutores" [value]="p">
            	<a href="javascript:void(0)" (click)="escolhaReprodutor(p, reprodutorModal)" > {{p.identificador}}
            		<strong> raça </strong> {{p.raca}}
            		<img src="/animal/reprodutor/foto/{{p.id}}" alt="{{p.raca}}" height="82" width="112">
            	</a>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="paiModal.closeModal()">
            <i class="fa fa-chevron-left"></i> Go Back
        </button>
    </div>
</modal>