<div id="wrapper">
<div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
               <div class="row">
		            <div class="col-lg-12">
		                <ol class="breadcrumb">
		                    <li>
		                        <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
		                    </li>
		                    <li class="active">
		                        <i class="fa fa-edit"></i> Cadastro de animal
		                    </li>
		                </ol>
		            </div>
		        </div>
                        

<div  [hidden]="submitted">

	<form *ngIf="active" (ngSubmit)="onSubmit()" #heroForm="ngForm">
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-6">

					    
					    
					      <div class="form-group">
					        <label for="identificador">Identificador</label>
					        <input type="text" class="form-control" required
					          [(ngModel)]="animal.identificador"
					            ngControl="identificador"  #identificador="ngForm" >
					        <div [hidden]="identificador.valid || identificador.pristine" class="alert alert-danger">
					          Informe um indentificador
					        </div>
<label>Data de nascimento</label>
<my-date-picker [options]="myDatePickerOptions"
               (dateChanged)="onDateChanged($event)"
               [selDate]="animal.dtNascimento">
     </my-date-picker>
					      </div>


					      <div class="form-group">
                                <label>Sexo: </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="M" checked>Macho
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="F">Fêmea
                                </label>
                          </div>
                          
                          
                            <div class="form-group input-group">
					            <div class="panel-body">
					            	Pai: 
			                    		<strong [hidden]="animal.pai.id == 0">{{animal.pai.identificador}}  - {{animal.pai.raca}} - <img src="/animal/reprodutor/foto/{{animal.pai.id}}" alt="{{animal.pai.raca}}" height="82" width="112"> </strong>
			                    </div>
                                <span class="input-group-btn"><button class="btn btn-default" type="button" (click)="listaReprodutores(paiModal)">
                                <i class="fa fa-search"></i></button></span>
                            </div>
                            
					        <div class="form-group input-group">
                                <div class="panel-body">
					            	Mae: 
			                    		<strong [hidden]="animal.mae.id == 0">{{animal.mae.identificador}}  - {{animal.mae.raca}} - <img src="/animal/reprodutor/foto/{{animal.mae.id}}" alt="{{animal.mae.raca}}" height="82" width="112"> </strong>
			                    </div>
                                <span class="input-group-btn"><button class="btn btn-default" type="button" (click)="listaMatriz(maeModal)">
                                <i class="fa fa-search"></i></button></span>
                            </div>

 							<div class="form-group input-group">
						        <div class="panel-body">
					            	<b>Raça</b>: 
			                    		<strong>{{animal.raca}}</strong>
			                    </div>
                                <span class="input-group-btn"><button class="btn btn-default" type="button" (click)="listaRaca(racaModal)">
                                <i class="fa fa-search"></i></button></span>
					      	</div>
					                                  
                            <label>Peso</label>
                             <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-hand-o-up"></i></span>
                                <input type="text" class="form-control">
                                <span class="input-group-addon">Kg</span>
                            </div>
                            
                    </div>
                    <div class="col-lg-6">
                            
                            <label for="idFoto">Foto</label>
					        <div class="form-group input-group">
                                <input type="text" class="form-control" [(ngModel)]="animal.id"
					            ngControl="idFoto"  #idFoto="ngForm" >
                                <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
                            </div>
                            
                            <div class="row">
			                    <div class="col-lg-12">
			                        <div class="panel panel-primary">
			                            <div class="panel-heading">
			                                <h3 class="panel-title"><i class="fa fa-file-image-o"></i> Foto</h3>
			                            </div>
			                            <div class="panel-body">
			                                
			                            </div>
			                        </div>
			                    </div>
		                	</div>
                    </div>
                </div>
                <center>
			      <button type="submit" class="btn btn-default" [disabled]="!heroForm.form.valid">Incluir</button>
			      <button type="button" class="btn btn-default" (click)="newHero()">Novo cadastro</button>
		        </center><br>
                
           </form>     
           </div>
                <div [hidden]="!submitted">
					    <h2>You submitted the following:</h2>
					    <div class="row">
					      <div class="col-xs-3">Name</div>
					      <div class="col-xs-9  pull-left">{{ animal.name }}</div>
					    </div>
					    <div class="row">
					      <div class="col-xs-3">Alter Ego</div>
					      <div class="col-xs-9 pull-left">{{ animal.alterEgo }}</div>
					    </div>
					    <div class="row">
					      <div class="col-xs-3">Power</div>
					      <div class="col-xs-9 pull-left">{{ animal.power }}</div>
					    </div>
					    <br>
					    <button class="btn btn-default" (click)="submitted=false">Edit</button>
					  </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>

<!-- /#page-wrapper -->
</div>
<modal #racaModal
    modalTitle="Reprodutor"
    closeButton="true"
    closeOnUnfocus="true">
    <div class="modal-body">
        <ul>
            <li *ngFor="#p of racas" [value]="p">
            	<a href="javascript:void(0)" (click)="escolhaRaca(p, racaModal)" >
            		<strong> {{p}}</strong>
            	</a>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="paiModal.closeModal()">
            <i class="fa fa-chevron-left"></i> Go Back
        </button>
    </div>
</modal>
<modal #paiModal
    modalTitle="Reprodutor"
    closeButton="true"
    closeOnUnfocus="true">
    <div class="modal-body">
        <ul>
            <li *ngFor="#p of reprodutores" [value]="p">
            	<a href="javascript:void(0)" (click)="escolhaReprodutor(p, paiModal)" > {{p.identificador}}
            		<strong> raça </strong> {{p.raca}}
            		<img src="/animal/reprodutor/foto/{{p.id}}" alt="{{p.raca}}" height="82" width="112">
            	</a>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="paiModal.closeModal()">
            <i class="fa fa-chevron-left"></i> Go Back
        </button>
    </div>
</modal>

<modal #maeModal
    modalTitle="Reprodutor"
    closeButton="true"
    closeOnUnfocus="true">
    <div class="modal-body">
        <ul>
            <li *ngFor="#p of reprodutores" [value]="p">
            	<a href="javascript:void(0)" (click)="escolhaMatriz(p, maeModal)" > {{p.identificador}}
            		<strong> raça </strong> {{p.raca}}
            		<img src="/animal/reprodutor/foto/{{p.id}}" alt="{{p.raca}}" height="82" width="112">
            	</a>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="maeModal.closeModal()">
            <i class="fa fa-chevron-left"></i> Go Back
        </button>
    </div>
</modal>